*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background-color: #000000;
}
::-webkit-scrollbar-thumb
{
    background-color: #ff002b;
    border-radius: 2px;
}
.container{
    display: flex;
    flex-direction: row;
}
header{
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: rgb(11, 11, 11);
}
.logo
{
    position: fixed;
    text-decoration: none;
    color: rgb(255, 11, 11);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.login
{
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    color: #009aff;
    margin-top: 10px;
    margin-left: 85%;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: solid 1px;
    text-align: center;
    border-radius: 3px;
    width: 180px;
    font-weight: bold;
}
.login:hover
{
    color: white;
    border-color: royalblue;

}
.fm-inp
{
    position: fixed;
    margin-top: 10px;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    height: 40px;
    width: 40%;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 2px;
    color: #cdcdcd;
    background-color: rgb(0, 0, 0) ;
    border: solid 2px;
    border-color: rgb(0, 0, 0);
}

.btn-search
{
    position: absolute;
    margin-left: 69.2%;
    margin-top: 10px;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    border: solid 2px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(0, 0, 0);
    
}
.btn-search:hover
{
    border-color: rgb(110, 110, 110);
}
.icon
{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border: none;
}
span
{
    color: white;
}
.movie{
    margin-top: 90px;
    width: 850px;
    background-color: black;
}
video{
    width: 820px;
    border: solid 4px red;
    margin-left: 2%;
}
.recomendados{
    margin-left: 20px;
    margin-top: 90px;
    width: 500px;
    height: 200vh;
}
img{
    width: 200px;
    height: 113px;
    border: solid 3px red;
}
img:hover{
    border-color: #ba0000;
}
.title{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    position: absolute;
    width: 18%;
    font-weight: bold;
}
.recanal{
    /* text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 90%; */
    /* margin-left: 0.3%;margin-top: 60px; */
    margin-left: 10px;
    margin-top: 53px;
    /* position: absolute; */
    width: 17%;
    /* font-weight: bold; */


    text-decoration: none;
    position: absolute;
    color: rgb(180, 180, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.recanal:hover
{
    color: #d6d6d6;
}
.reviws{
    color: rgb(180, 180, 180);
}
.reviws:hover{
    color: rgb(180, 180, 180);
}


.canal{
    width: 100%; 
    height: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.titlevd
{
    margin-top: 10px;
    margin-left: 2%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.viws
{
    margin-left: 2%;
    margin-right: 525px;
    color: #828282;
    font-size: 14px;
    margin-top: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chanel
{
    border: solid 2px #009aff;
    border-left: none;
    border-right: none;
    margin-left: 2%;

}
.imgcanal
{
    margin-left: 2%;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #ff002b;
}
.namecanal
{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inscritos
{
    margin-left: 95px;
    margin-top: -25px;
    color: #828282;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.comentarios
{
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 140px;
    text-align: center;
    padding: 20px;
}
.mais
{
    text-decoration: none;
    color: #009aff;
}
.descriçao
{
    margin-top: 10px;
    margin-left: 95px;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}


@media(max-width: 1062px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .movie{
        margin-top: 100px;
        width: 100%;

    }
    .recomendados{
        width: 100%;
        background-color: rgb(0, 0, 0);
        border: solid 3px rgb(0, 0, 0);
        margin-top: 20px;
        margin-left: 0px;
    }
    video{
        width: 95vw;
        border: solid 3px rgb(255, 0, 0);
        margin-left: 0px;
    }
    .titlevd
    {
        width: 90vw;
        margin-left: 4%;
    }
    .viws{
        width: 90vw;
        margin-left: 4%;
    }
    .imgcanal{
        margin-top: 10px;
        margin-left: 4%;
    }
    .namecanal{
        position: absolute;
        margin-top: 10px;
    }
    .inscritos{
        margin-top: -35px;
        margin-left: 100px;
    }
    .descriçao{
        width: 70%;
        position: absolute;
        margin-top: 20px;
        margin-left: 70px;
    }
    .comentarios{
        text-align: center;
    }
    img{
        width: 300px;
        height: 150px;
    }
    .title{
        width: auto;
        margin: center;
    }
    .recanal{
        position: absolute;
        margin-top: 13vh;
    }
    .chanel{
        margin-left: 0px;
    }
}
@media(max-width: 940px){
    .fm-inp
    {
        height: 40px;
        width: 35%;
        margin-top: 40px;
        margin-left: 30%;
        border-radius: 7px;
    }
    .logo
    {
        
        margin-top: 10px;
        margin-left: 20px;
        font-size: 19px;
    }
    .login
    {
        margin-top: 10px;
        margin-left: 77vw;
        font-size: 6px;
        width: 180px;
    }
    .btn-search
    {
        position: absolute;
        margin-left: 56%;
        margin-top: 40px;
        cursor: pointer;
        font-size: 40px;
        
    }
}
@media(max-width: 630px){
    .login
    {
        margin-top: 10px;
        margin-left: 60vw;
        font-size: 6px;
        width: 180px;
        border-right: none;
        border-top: none;
    }
    .recanal{
        margin-top: 70px;
        font-size: 10px;
    }
    video{
        width: 98vw;
    }
}
@media(max-width: 485px){
    .title{
        font-size: 10px;
    }
    .recanal{
        margin-top: 50px;
        font-size: 10px;
    }
    .descriçao{
        margin-top: 35px;
        font-size: 13px;
        line-height: 20px;
    }
    .comentarios{
        margin-top: 120px;
    }
    .imgcanal{
        height: 60px;
    }
    img{
        width: 55%;
        height: 120px;
    }
    video{
        width: 100vw;
        border: solid 3px rgb(255, 0, 0);
    }
    .titlevd{
        margin-left: 6px;
    }
    .viws{
        margin-left: 6px;
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}